<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">EngineName <%= EngineInfo.get_version %></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if current_page?(main_app.root_path) %>"><a href="<%= main_app.root_path %>">Home</a></li>
        <%= active_nav_link('CveEngine Home', cve_engine.welcome_home_path) %>
        <%= active_nav_link('CveEngine Dashboard', cve_engine.welcome_dashboard_path) %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Engine Controllers <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="">NONE</a></li>
            <% if controller_name != 'welcome' %>
            <li class="divider"></li>

            <li class="dropdown-header">Actions</li>
            <li><%= link_to 'Index', action: 'index'  %></li>
            <li><%= link_to 'New', action: 'new' %></li>
                <% end %>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">

  <div id="flash">
  <% flash.each do |name, msgs| %>
      <% if msgs.is_a?(Array) %>
          <% msgs.each do |msg| %>
              <div class="alert alert-<%= flash_bootstrap_alert(name) %> alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="fa fa-<%= flash_fa_icon(name) %> fa-lg fa-fw"></i> <%= msg %>
              </div>
          <% end %>
      <% else %>
          <div class="alert alert-<%= flash_bootstrap_alert(name) %> alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-<%= flash_fa_icon(name) %> fa-lg fa-fw"></i> <%= msgs %>
          </div>
      <% end %>
  <% end %>
  </div>


  <div class="row">
    <%= yield %>
  </div>


  <footer class="debug">
    <hr>
    <%= debug params %>
  </footer>
</div> <!-- /container -->

</body>
</html>
